:root{
    --highlight: #894FD8;
    --highlight2: #FA945B;
}
body{
    background: #fff;
    font-family: 'Poppins', 'Helvetica', sans-serif;
}

/**** Login page ****/

.login-page{
    background: #fff;
    background-image: url(../../img/shapes.svg);
}

.login-page .main-footer {
    display: none;
}


.login-logo a, .register-logo a{
    font-weight: 700;
    font-size: 3rem;
    color: #000;
}

.btn-primary{
    background-color: var(--highlight);
    border: 2px solid var(--highlight);
    border-radius: 40px;
    padding: 10px 40px;
    color: var(--white);
    text-transform: uppercase;
    font-weight: bold;
    transition: all .3s ease;
}

.btn-primary:hover{
    background-color: var(--highlight2);
    border-color: var(--highlight2);
    cursor: pointer;
}

input.form-control{
    border-radius: 40px;
}

.login-card-body .input-group .input-group-text, .register-card-body .input-group .input-group-text{
    border-radius: 0 40px 40px 0;
}